<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="APIKEY" value="64735499c4184185aa7dfa559c90af3f" />
		<add key="APIURLFORECAST" value="https://api.weatherbit.io/v2.0/forecast/daily?city=" />
		<add key="APIURLCURRENT" value="https://api.weatherbit.io/v2.0/current?city=" />
	</appSettings>
</configuration>